td.scroller {background: #a0a0a0;} 

.scrhead {
  font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: #4A4A4A;
} 

body { margin-left: 4px;
       background: #F5F0E7;
       font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
       font-size: 10px;
}

.tabtxt, TD {  
  font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
  font-size: 10pt;
 }

TEXTAREA {  
  font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
  font-size: 8pt;
  width: 100%;
 }

INPUT, SELECT {  
  font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
  font-size: 8pt;
 }


H1, .tablename {
  font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
  font-size: medium;
  margin-left: 20px;  
}

.navbar {
	font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
	font-size: 8pt;
        background: #EBDABE;
	color: #584011;
        vertical-align: middle;
}

.nbviewlp {
	font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
	font-size: 10pt;
        background: #584011;
	color: #F5F0E7;
}

.nblogo {
	font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight : bold;
        background: #FFFFFF;
	color: #F5F0E7;
        text-decoration: none;
}

.nbmenu {
	font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
	font-size: 8pt;
        background: #F5F0E7;
	color: #584011;
}

.nbenable {
	font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
	font-size: 8pt;
  /*  background: #EBDABE;  don't change the background colour*/
	color: #4A4A4A;
}

.nbdisable {
	font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
	font-size: 8pt;
/*  background: #EBDABE;  */
	color: #4A4A4A;
	vertical-align: middle;
}

.example {
	font-family: Courier, sans-serif;
	font-size: 8pt;
}

.slicesubhead {
	font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
	font-size : 8pt;
	color: #EEEEEE;
	font-weight : bold;
	background: #589868;
}

.slicehead {
	font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
	font-size : 13pt;
	color: #584011;
	font-weight : bold;
  background: #EBDABE;
	width: 100%;
	vertical-align: middle;
}

.leftmenu  {
  font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: #4A4A4A;
}

TD.leftmenu {
	font-weight : bold;
}

.leftmenuy  {
  font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
  font-size: 8pt;
  font-weigth: normal;
  color: #000000;
}

.leftmenun  {
  font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
  font-size: 8pt;
  font-weigth: normal;
  color: #4A4A4A;
}

.subwindow  {
	font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight : bold;
	background: #A8C8B0;
	color: #4A4A4A;
}

.windowtitle {
	font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight : bold;
	background: #589868;
	color: #FFFFFF;
}

.ipreview, .iid, .ipostdate, .icategory, .ifeedtit, .ifeed, .navbar, .headline {
  font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: #4A4A4A;
}

.iheadline {
  font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
  font-size: 8pt;
}

.inoutertd {
  font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
  font-size: x-small;
  color: #FFFFFF;
}

.tabtit {
  font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
  font-size: x-small;
  color: #FFFFFF;
}

.tabhlp, .tabsmall {
  font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
  font-size: 8pt;
}

.taberr {
  color: red;
}

.tablename {
  font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: bold; 
	color: #584011;
  background: #EBDABE;
}

.notpubl {
  color: blue;
}

.expired {
  color: red;
}


.err {
  font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
  font-size: x-small;
  color: red;
}

.okmsg {
  font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
  font-size: x-small;
  color: green;
}

.copymsg {
       background: #F5F0E7;
       font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
       font-size: 8pt;
       color: #999999;
}
