td.scroller {background: #a0a0a0;}

.scrhead {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: #4A4A4A;
}

body { margin-left: 4px;
       background: #213F21;
       font-family: Verdana, Arial, Helvetica, sans-serif;
       font-size: 8pt;
             color: #FFFFFF;
}

.login {
    background: #A8C8B0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8pt;
    color: #000000;
}

SELECT {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
 }

TD, INPUT, TEXTAREA {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 8pt;
 }

H1 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: medium;
  margin-left: 20px;
  color: #FFFFFF;
}

H2 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: small;
  color: 0;
}

.navbar {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8pt;
    background: #A8C8B0;
    color: #FFFFFF;
    vertical-align: middle;
}

.nbviewlp {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
  background: #584011;
    color: #F5F0E7;
}

.nblogo {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight : bold;
  background: #FFFFFF;
    color: #FFFFFF;
  text-decoration: none;
}

.nbmenu {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8pt;
  background: #F5F0E7;
    color: #584011;
}

.nbactive {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8pt;
    background: #FFFFFF;
    color: #000000;
}

.nbenable {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8pt;
/*  background: #EBDABE;  don't change the background colour*/
    color: #000000;
}

.nbdisable {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8pt;
/*   background: #EBDABE; */
    color: #4A4A4A;
    vertical-align: middle;
}

.disabled {
    color: #808080;
}

.example {
    font-family: Courier, sans-serif;
    font-size: 8pt;
}

.slicesubhead {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size : 8pt;
    color: #EEEEEE;
    font-weight : bold;
    background: #589868;
}

.slicehead {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size : 13pt;
    color: #FFFFFF;
    font-weight : bold;
    background: #589868;
    vertical-align: middle;
}

.leftmenu  {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8pt;
/*	font-weight : bold; */
    background: #A8C8B0;
    color: #4A4A4A;
}

TD.leftmenu {
  font-weight: bold;
}

.leftmenuy  {
  font-family: Verdana, Arial, Helvetica, sans-serif;
/*  font-size: x-small; */
  font-size: 8pt;
  background: #A8C8B0;
  font-weight: normal;
  color: #000000;
}

.leftmenun  {
    font-family: Verdana, Arial, Helvetica, sans-serif;
/*	font-size: x-small; */
        background: #A8C8B0;
  color: #4A4A4A;
}

.leftmenua  {
    font-family: Verdana, Arial, Helvetica, sans-serif;
/*	font-size: x-small; */
    background: #FFFFFF;
    color: #000000;
}

.search {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10 pt;
    font-weight: bold;
    color: #000000;
}

.subwindow  {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: x-small;
    font-weight : bold;
    background: #A8C8B0;
    color: #4A4A4A;
}

.windowtitle {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: x-small;
    font-weight : bold;
    background: #589868;
    color: #FFFFFF;
}

.ipreview, .iid, .ipostdate, .ihedline, .icategory, .ifeedtit, .ifeed {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: #4A4A4A;
  background: #A8C8B0;
}

.inoutertd {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: x-small;
  color: #FFFFFF;
}

.tablename {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: bold;
  color: #FFFFFF;
  background: #589868;
}

.tablename .leftmenuy {
  font-weight: normal;
  background: #589868;
}

/*
TABLE {
  width: 80%;
}

TD.leftmenuy {
  width: 80%
}
*/

/* TD.tabtit {
  border-bottom: 1pt solid black;
} */

.tabtit {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: x-small;
  color: #FFFFFF;
    background: #589868;
}

.tabtxt {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: x-small;
  background: #A8C8B0;
  color: #4A4A4A;
}

.tabtxteven {
    background-color: #C8E6C5; /* #f6e5c9 */
    color: #526952;
}

.tabtitlight {
    text-align: center;
    font-weight: bold;
    background-color:#589868;
}

.tabtxt_field_alerts {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: x-small;
  background-color : #ADD8E6;
  color: #4A4A4A;
}

.tabhlp {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: x-small;
  color: #4A4A4A;
  background: #A8C8B0;
}

.taberr {
  color: red;
}

.notpubl {
  color: blue;
}

.expired {
  color: red;
}

.err {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: x-small;
  color: red;
}

.okmsg {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: x-small;
  color: green;
}

.copymsg {
  background: #213F21;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: white;
}

.sel_on {
  background: #DDDDDD;
}

.sel_missing {
  color: #CC0000;
}

.sel_title {
  background: #A8C8B0;
  color: #4A4A4A;
}

.smalltext {
  font-size: 8pt;
}

/* -------------------- Sitemodule CSS - begin --------------------------- */
#sitetree {
    font-size: 8pt;
    color: #000000;
    width: 200px;
    padding-right: 12px;
}

#sitetree div {
    border-right: 1px solid #CEE0D3;
    background-repeat: repeat-y;
    background-image: url(modules/site/images/i_bg.gif);
}

#sitetree .spot  {
    color: #000000;
    text-decoration: none;
    margin: 0px 0px 0px 0px;
    background-color: #D8E7DC;
    border-top: none;
    border-bottom:  1px solid #A8C8B0;
    padding-left: 2px;
    display: block;
}

#sitetree div.choice, #sitetree div.lastchoice {
    padding: 0px 5px 5px 21px;
}

#sitetree div.lastchoice {
    background-image: url(modules/site/images/s_bg.gif);
    border-bottom: 1px solid #D8E7DC;
}

#sitetree div.conditions {
    border-top: 1px solid #D8E7DC;
    border-left: 1px solid #D8E7DC;
    background-image: none;
}

#sitetree div.conditions a, #sitetree div.variables {
    color: #000;
    text-decoration: none;
}

#sitetree div.conditions a {
    color: #197119;
}

#sitetree div.variables {
    padding-bottom: 8px;
    padding-left:   15px;
}

.choice img, .lastchoice img {
    margin: 0px 0px 0px -21px;
    padding: 0px;
    float: left;
    border: none;
}

img.eye {
    margin: 0px;
    padding: 0px;
    float: right;
    border: none;
}

#sitetree a.spot:hover {
    background-color: #619A70;
    color: #000000;
}

#sitetree div .selected {
    margin: 0px 1px 0px 0px;
    padding: 0px;
    border: none;
}

#sitetree div .selected a {
    background-color: #456D50;
    color: #FFFFFF;
}

/* -------------------- Sitemodule CSS - end ----------------------------- */

/* -- live editing  */
select.live, input.live, textarea.live {
    border: 1px solid #EBDABE;
}

select.updating, input.updating, textarea.updating {
    outline: 1px solid #FF0000;
}

div.ajax_value {
    background: url("images/edit.png") no-repeat scroll right bottom transparent;
    padding-right: 20px;
}
div.ajax_value:hover {
    background-image: url("images/edit-a.png");
}

div.ajax_value[data-aa-edited="1"],
div.ajax_value[data-aa-edited="1"]:hover {
    background: none;
}