td.scroller {background: #a0a0a0;}

.scrhead {
  font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: #4A4A4A;
}

body { margin-left: 4px;
       background: #F5F0E7;
       font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
       font-size: 10px;
}

.tabtxt, TD, .tabtxteven, .tabtitlight {
  font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
  font-size: 10pt;
 }

 .tabtxteven {
     background-color: #ede4d7; /* #f6e5c9 */
 }

.tabtitlight {
    text-align: center;
    font-weight: bold;
    background-color:#EBDABE;
}

.tabtxt_field_alerts {
  font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color : #ADD8E6;
 }

TEXTAREA {
  font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
  font-size: 8pt;
  width: 100%;
 }

INPUT, SELECT {
  font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
  font-size: 8pt;
 }


H1, .tablename {
  font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
  font-size: medium;
  margin-left: 20px;
}

.navbar {
    font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
    font-size: 8pt;
        background: #EBDABE;
    color: #584011;
        vertical-align: middle;
}

.nbviewlp {
    font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
    font-size: 10pt;
        background: #584011;
    color: #F5F0E7;
}

.nblogo {
    font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight : bold;
        background: #FFFFFF;
    color: #F5F0E7;
        text-decoration: none;
}

.nbmenu {
    font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
    font-size: 8pt;
        background: #F5F0E7;
    color: #584011;
}

.nbenable {
    font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
    font-size: 8pt;
  /*  background: #EBDABE;  don't change the background colour*/
    color: #4A4A4A;
}

.nbactive {
    font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
    font-size: 8pt;
  /*  background: #EBDABE;  don't change the background colour*/
    color: black;
    background: white;
}

.nbdisable {
    font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
    font-size: 8pt;
/*  background: #EBDABE;  */
    color: #4A4A4A;
    vertical-align: middle;
}

.disabled {
    color: #808080;
}

.example {
    font-family: Courier, sans-serif;
    font-size: 8pt;
}

.slicesubhead {
    font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
    font-size : 8pt;
    color: #EEEEEE;
    font-weight : bold;
    background: #589868;
}

.slicehead {
    font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
    font-size : 13pt;
    color: #584011;
    font-weight : bold;
    background: #EBDABE;
    vertical-align: middle;
}

.leftmenu  {
  font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: #4A4A4A;
}

TD.leftmenu {
  font-weight : bold;
}

.leftmenuy, .leftmenua, .leftmenun  {
  font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
  font-size: 8pt;
  font-weight: normal;
  color: #000000;
}

.leftmenua  {
  background: white;
}

.leftmenun  {
  color: #4A4A4A;
}

.subwindow  {
    font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
    font-size: x-small;
    font-weight : bold;
    background: #A8C8B0;
    color: #4A4A4A;
}

.windowtitle {
    font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
    font-size: x-small;
    font-weight : bold;
    background: #589868;
    color: #FFFFFF;
}

.ipreview, .iid, .ipostdate, .icategory, .ifeedtit, .ifeed, .navbar, .headline {
  font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: #4A4A4A;
}

.iheadline {
  font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
  font-size: 8pt;
}

.inoutertd {
  font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
  font-size: x-small;
  color: #FFFFFF;
}

.tabtit {
  font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
  font-size: x-small;
    background: #584011;
  color: #FFFFFF;
}

.tabtit a {
    color: white;
}

.tabtit a:visited {
    color: #f0f0f0;
}


.tabhlp, .tabsmall, .smalltext {
  font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
  font-size: 8pt;
}

.taberr, .change, .expired {
  color: red;
}

.tablename {
  font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: bold;
    color: #584011;
  background: #EBDABE;
}

.notpubl {
  color: blue;
}

.err {
  font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
  font-size: x-small;
  color: red;
}

.okmsg {
  font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
  font-size: x-small;
  color: green;
}

.copymsg {
  background: #F5F0E7;
  font-family: Verdana, "Helvetica CE", Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: #999999;
}

.sel_on {
  background: #DDDDDD;
}

.sel_missing {
  color: #CC0000;
}

.sel_title {
       background: #EBDABE;
}

TD.sel_title {
  background: #F5F0E7;
}

#formtabs, #formtabs2 {
    font-size: 0.85em;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    background-color: #584011;
    border-bottom: 1px solid #EBDABE;
}

#formtabs td, #formtabs2 td {
    padding: 0px;
    border-bottom: 1px solid #745623;;
}

.tabsactiv, .tabsnonactiv {
    color: #000000;
    background-color: #EBDABE;
    text-decoration: none;
    margin: 0px;
    padding: 0px 6px;
    border-right: 1px solid #EBDABE;
}
.tabsnonactiv {
    color: #EBDABE;
    background-color: #745623;
}

.separator td {
    padding-top: 5px;
    border-top: 2px solid #584011;
}

.general {
    color: #444;
    background-color: #F5F0E7;
}

/* -------------------- Sitemodule CSS - begin --------------------------- */
#sitetree {
    font-size: 8pt;
    color: #000000;
    width: 200px;
    padding-right: 12px;
}

#sitetree div {
    border-right: 1px solid #EBDABE;
    background-repeat: repeat-y;
    background-image: url(modules/site/images/i_bg.gif);
}

#sitetree .spot  {
    color: #000000;
    text-decoration: none;
    margin: 0px 0px 0px 0px;
    background-color: #F5F0E7;
    border-top: none;
    border-bottom:  1px solid #EBDABE;
    padding-left: 2px;
    display: block;
}

#sitetree div.choice, #sitetree div.lastchoice {
    padding: 0px 5px 5px 21px;
}

#sitetree div.lastchoice {
    background-image: url(modules/site/images/s_bg.gif);
    border-bottom: 1px solid #EBDABE;
}

#sitetree div.conditions {
    border-top: 1px solid #EBDABE;
    border-left: 1px solid #EBDABE;
    background-color: #EBDABE;
    background-image: none;
}

#sitetree div.conditions a, #sitetree div.variables {
    color: #000;
    text-decoration: none;
}

#sitetree div.conditions a {
    color: #584011;
}

#sitetree div.variables {
    padding-bottom: 8px;
    padding-left:   15px;
    color: #584011;
}

.choice img, .lastchoice img {
    margin: 0px 0px 0px -21px;
    padding: 0px;
    float: left;
    border: none;
}

img.eye {
    margin: 0px;
    padding: 0px;
    float: right;
    border: none;
}

#sitetree a.spot:hover {
    background-color: #584011;
    color: #FFF;
}

#sitetree div.selected {
    margin: 0px 1px 0px 0px;
    padding: 0px;
    border: none;
}

#sitetree div.selected a {
    background-color: #584011;
    color: #FFF;
}

/* -------------------- Sitemodule CSS - end ----------------------------- */





